* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.DialogBox {
    position: absolute;
    height: 250px;
    width: 250px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    
    div {
        // position: relative;
    }

    @keyframes animation {
        0% {
          stroke-dasharray: 1 98;
          stroke-dashoffset: -105;
        }
        50% {
          stroke-dasharray: 80 10;
          stroke-dashoffset: -160;
        }
        100% {
          stroke-dasharray: 1 98;
          stroke-dashoffset: -300;
        }
      }
      
      #spinner {
        transform-origin: center;
        animation-name: animation;
        animation-duration: 1.2s;
        animation-timing-function: cubic-bezier;
        animation-iteration-count: infinite;
      }

      .loggingin {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
      }
}

.MainPanel {
    background-color: white;
    display: flex;
    align-items: center;
    height: 350px;
    width: 720px;

    border: 0px solid #888;
    border-radius: 15px;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.5);

    overflow: auto;
    img {
        height: 100%;
    }
    form {
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%; //Note: Filling the remaining space
        padding: 1px;
        h1 {
            font-size: 2rem;
            // width: 100%;
            text-align: center;
        }
        label {
            padding-bottom: 5px;
            background-color: transparent;
            text-align: start;
            // width: 100%;
        }
        input {
            width: 300px;
            margin-bottom: 10px;
        }
        button {
            margin-top: 10px;
            background-color: purple;
            color: white;
            width: 170px;
        }
        a {
            text-decoration: underline;
            margin-top: 20px;
        }
        a:hover {
            color: blue;
        } 
    }
}

.LoginForm {
    padding-left: 10px;
}